h1#fight {
  display: inline-block;
  margin-left: auto;
  margin-right: auto;
  width: auto;
  font-family: monospace;
}

h1 {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 40%;
  font-family: monospace;
}

button#rip {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 40%;
  height: 10%;
  background-color: limegreen;
  border-color: green;
  border-width: 10px;
  border-style: solid;
  font-size: 50px;
  border-radius: 90px;
}

button#rip:hover {
  color: white;
  background-color: green;
  border-color: limegreen;
}

img#meme {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}

div {
  text-align: center;
}

button.opt {
  width: 20%;
  height: 10%;
  background-color: black;
  color: white;
  border-color: gray;
  border-width: thick;
}

button#rest {
  float: left;
  background-color: red;
  color: white;
  border-color: darkred;
  border-width: thin;
}

button#ok {
  background-color: limegreen;
  border-color: darkgreen;
  border-width: thick;
}
